@{
    ViewData["Title"] = "No Results Found";
}

<h2>No Results Found!</h2>
<p>Oh no! Looks like we couldn't find what you are looking for! Search again or return back to the Home Page!</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to the Home Page</a>